<section class="property-binding">
    <!-- 
    <article>
        <h3>Interpolation / Interpolação</h3>
        <p>String com interpolação: {{ url }}</p>
        <p>Resultado de 1 + 1:  {{ 1 + 1 }}</p>
        <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValue() }}</p>
        <p>Curso Angular e gosto do curso: {{ courseAngular && getLikeCourse() }} </p>
    </article>

    <article>
        <h3>Propoerty Binding</h3>
        <img src="{{ urlImg }}">
        <img [src]="urlImg">
        <img bind-src="urlImg">
    </article> -->

    <!-- <article>

        <h3>Class and Style Binding </h3>
        <div>
            Selecione uma classe:
            <select #classAlert (change)=(0) >
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Alerta</option>
                <option value="alert-danger">Erro</option>
            </select>
            <br><br>

            <div class="alert {{ classAlert.value }}" role="alert">
                Texto colorido conforme valor do combobox.
            </div>

            <div class="alert alert-danger" role="alert"
                [style.display]="classAlert.value == 'alert-danger' ? 'block' : 'none'">
                Esse texto somente aparece em caso de erro.
            </div>

            <div class="alert " role="alert" [class.alert-success]="classAlert.value == 'alert-success'"> 
                Sucesso 
            </div>

            <div class="alert " role="alert" [class.alert-info]="classAlert.value == 'alert-info'">
                Info
            </div>

            <div class="alert " role="alert" [class.alert-warning]="classAlert.value == 'alert-warning'">
                Alerta
            </div>

            <div class="alert " role="alert" [class.alert-danger]="classAlert.value == 'alert-danger'">
                Erro
            </div>

        </div>
    </article>
 -->


<section class="event-binding">

    <article>
        <h3>Event binding</h3>
        <div>
            <button (click)="buttonClick()" class="btn btn-primary">
                Me clique!
            </button>
            
            <br>

            <input type="text"
                (keyup)="onKeyUp($event)"
                (keyup.enter)="saveValue($event.target.value)"
                (blur)="saveValue($event.target.value)"
                #fieldInput />

            <br>

            <p> Valor Atual: {{ currentValue}} </p>
            <p> Valor Salvo: {{ valueSave}} </p>

            <br>

            <br>
            <span
                (mouseover)="onMouseOverOut()"
                (mouseout)="onMouseOverOut()"
                [class.highlight]="isMouseOver"
                >
                Passe o mouse sobre mim
            </span>

            <br><br>
        </div>
    </article>
</section>